@using BlogLibrary;
@using WebApplication.ViewModels;
@model PostEditViewModel;

<form asp-action="@ViewData["Action"]">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input hidden asp-for=@Model.BlogPost.BlogPostId />
    <div class="form-group">
        <label asp-for=@Model.BlogPost.BlogPostTitle class="control-label"></label>
        <input asp-for=@Model.BlogPost.BlogPostTitle class="form-control" />
        <span asp-validation-for=@Model.BlogPost.BlogPostTitle class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for=@Model.BlogPost.BlogText class="control-label"></label>
        <input asp-for=@Model.BlogPost.BlogText class="form-control" />
        <span asp-validation-for=@Model.BlogPost.BlogText class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for=@Model.BlogPost.AuthorId class="control-label"></label>
        <input asp-for=@Model.BlogPost.AuthorId class="form-control" />
        <span asp-validation-for=@Model.BlogPost.AuthorId class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="@ViewData["Action"]" class="btn btn-primary" />
    </div>
</form>
