@using WebApplication.ViewModels;
@model PostEditViewModel;

@{
    ViewData["Title"] = "Create";
    ViewData["Action"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_editBlogPost", Model, ViewData)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
