@using WebApplication.ViewModels;
@model PostEditViewModel;

@{
    ViewData["Title"] = "Edit";
    ViewData["Action"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_editBlogPost", Model, ViewData)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="//cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>
    <script type="text/javascript">
        CKEDITOR.replace('blogPostTextArea', {
            customConfig: '/js/CustomConfig.js'
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
