@using WebApplication.ViewModels;
@model PostEditViewModel;

@{
    ViewData["Title"] = "Edit";
    ViewData["Action"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        @Html.Partial("_editBlogPost", Model, ViewData)
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/25.0.0/classic/ckeditor.js"></script>
    <script type="text/javascript">
        ClassicEditor
            .create(document.querySelector('#blogPostTextArea'))
            .catch(error => {
                console.error(error);
            });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
