@using BlogLibrary;
@using WebApplication.ViewModels;
@model HomeViewModel;

<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Index">All Blogs</a>
                </li>
                @foreach (BlogTag blogTag in Model.BlogTags)
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Home" asp-action="Index" asp-route-tagId="@blogTag.BlogTagId"> @blogTag.BlogTagName</a>
                    </li>
                }
            </ul>
            <form class="form-inline" asp-action="Index">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" asp-for=@Model.searchString>
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit" value="searchString">Search</button>
            </form>
        </div>
    </div>
</nav>