@using BlogLibrary;
@using WebApplication.ViewModels;
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-8">
            <img class="img-fluid" src="https://localhost:44381/images/HalfwayToMediocreGraphic.png" alt="image not found" />
        </div>
        <div class="col-4">
            <img class="img-fluid" src="https://localhost:44381/images/FamilyPhoto.jpg" alt="image not found" />
            <label>We are Dave Strauss and Sandra Patton, founders and Editors of Halfway to Mediocre </label>
        </div>
        <hr />
        @foreach (BlogPost blogPost in Model.BlogPosts)
        {
            <div class="col-4 mt-2 mb-2">
                
                @{var imgUrl = "https://localhost:44381/" + blogPost.ImageUrl; }
                <a href="@(Url.Action("Details", new { id = blogPost.BlogPostId }))">
                    <img class="img-fluid mainpage-image" src="@imgUrl" />
                    <h5 class="image-caption">@blogPost.BlogPostTitle</h5>
                </a>
            </div>
                    }


    </div>
</div>

