<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Halfway To Mediocre </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <script src="https://cdn.tiny.cloud/1/ns4wnol5yqzwb512ssw98j2o2xvn6bd2qsvzftgm73c0bmzp/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: '#blogPostTextArea',
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak autoresize',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'table emoticons template paste help'
            ],
            toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link image | print preview media fullpage | ' +
                'forecolor backcolor emoticons | help',
            menu: {
                favs: { title: 'My Favorites', items: 'code visualaid | searchreplace | emoticons' }
            },
            menubar: 'favs file edit view insert format tools table help',
            content_css: 'css/content.css',
            toolbar_sticky: true,
            branding: false,
            images_upload_handler: function (blobInfo, success, failure) {

                // Create a JSON payload containing the file name and file bytes and serialize it to a string
                var post_id = jQuery('#post_ID').val();
                var data = JSON.stringify({ fileBytes: blobInfo.base64(), fileName: blobInfo.blob().name, isMain: false, imagePostId: post_id  });
                $.ajax({
                    type: 'POST',
                    url: '/api/images',
                    data: data,
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (result) {
                        success(result.imageUrl);
                    },
                    error: function (xhr, status, error) {
                        var err = eval("(" + xhr.responseText + ")");
                        failure(err.message);
                    }
                })
            }
        });
        tinymce.init({
            selector: '#mainImageUpload',
            plugins: [
                'image'
            ],
            menubar:false,
            statusbar: false,
            toolbar: 'image',
            width: 400,
            height: 200,
            branding: false,
            content_css: 'css/content.css',
            images_upload_handler: function (blobInfo, success, failure) {
                // Create a JSON payload containing the file name and file bytes and serialize it to a string
                var post_id = jQuery('#post_ID').val();
                var data = JSON.stringify({ fileBytes: blobInfo.base64(), fileName: blobInfo.blob().name, isMain: true, imagePostId: post_id });

                $.ajax({
                    type: 'POST',
                    url: '/api/images',
                    data: data,
                    dataType: 'json',
                    contentType: 'application/json',
                    success: function (result) {
                        success(result.imageUrl);
                    },
                    error: function (xhr, status, error) {
                        var err = eval("(" + xhr.responseText + ")");
                        failure(err.message);
                    }
                })
            }
        });
     //   tinyMCE.get(mainImageUpload).getBody().setAttribute('contenteditable', false);
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Halfway To Mediocre</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Author" asp-action="Index">Author</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="BlogTag" asp-action="Index">Tags</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="BlogPost" asp-action="Index">Posts</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Halfway to Mediocre - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
